*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #090b1a;
    font-family: 'Lexend Deca', sans-serif;
}

/*CONTAINER*/

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/*BOX 1*/
 #box-1{
     background-color: #1b1938;
     color: white;
     width: 480px;
     height: 350px;
     display: flex;
     flex-direction: column;
     padding: 20px;
     border-top-left-radius: 15px;
     border-bottom-left-radius: 15px;
     
 }

 .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    
}

 .insights{
     color: #aa5cdb;
}

 .text p{
     margin-top: 20px;
     opacity: 0.75;
     font-family: 'Inter', sans-serif;
     font-size: 15px;
    line-height: 1.6;
 }

 
 
.stats-preview__stats{
    display: flex;
     justify-content: space-around;
     list-style: none;
}
 .stat-name{ opacity: 0.6;
    font-size: 12px;
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 5px; }




/*BOX 2*/
#box-2{
    width: 400px;
    height: 350px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #aa5cdb;    
  
}
#box-2  img {
    width: 400px;
    height: 350px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    mix-blend-mode: multiply;
    opacity: 75%;
}

/*FOOTER*/

Footer { 
    font-size: 11px; 
    text-align: center; 
    padding: 30px;
    margin-top:90px;
    color: white;
   
}
Footer a { color: #aa5cdb; }

@media (max-width:830px) {
    .container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 100px;
    }

    #box-1{
        width: 380px;
        height: 500px;
        text-align: center;
        border-bottom-left-radius:15px;
        border-bottom-right-radius:15px;
        border-top-left-radius:0px;

    }

    .stats-preview__stats{
        display: flex;
        flex-direction: column;
        align-content: space-around;
    }
    .stats-preview__stats li{
        margin-bottom: 20px;
    }
    
    
    #box-2{
        border-bottom-left-radius:0px;
        border-bottom-right-radius:0px;
        border-top-left-radius:15px;
        border-top-right-radius:15px;
        width: 380px;
    }
    #box-2  img{
        border-bottom-left-radius:0px;
        border-bottom-right-radius:0px;
        border-top-left-radius:15px;
        border-top-right-radius:15px;
        width: 380px;
    }
    #box-2 .overlay{
        border-bottom-left-radius:0px;
        border-bottom-right-radius:0px;
        border-top-left-radius:15px;
        border-top-right-radius:15px;
    }
}
 